head
  meta
  meta

body
  div0
  div1
    span
    span
  div2
    ul1
      li1
        h1
      li2

                          

    ul2
      li
      li
        h1
  div3
    span

  div4
    h1
   
  div5
    div6
      div8
        span
        
          em
          
    div7
      span
        