div
  if hallo=='Welt'
    div Welt
    if ciao=='Du'
      div Du
    else
      div Wer
  else if hallo=='Sie'
    div Sie
  else
    div Es
  if hallo=='Du'
    div Du
  else if hallo=='Welt'
    div Welt
  else
    div nix
  unless hallo=='keine Welt'
    div eine Welt
    