if nothing
  p fail
else
  p nothing does not exist
if hallo
  p= hallo
if hallo == "welt"
  p= hallo
if zero
  p fail
else
  p zero is false
if one
  p= one
if list
  p list is not empty
if array
  p array is not empty
if doubleValue
  p is double
if emptyArray || emptyString || zero
  p multiple empties