mixin book(name, price)
  p #{name}: #{price}€

- title = "Book A"
- letter = "A"
- price = 20
- foo = {"bar":"1"}
- soldout = true

+book("Book A", 1.3)
+book(title, "2,00")
+book('Book,A', price)
+book("Book"+ ',A', !soldout)
+book("Book "+ letter, foo.bar+",00")
+book("Book "+ letter, foo.bar)