<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %-5p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	
	<logger name="de.neuland.jade4j">
		<level value="WARN" />
	</logger>

	<!-- Log JDBC bind parameter runtime arguments -->
	<!-- 
	<logger name="org.hibernate.type">
		<level value="TRACE" />
	</logger>
	-->
	
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>