mixin foo
  p.bar One
  p.baz.quux Two
  p Three
  p.bar(class="baz") Four

body
  +foo.hello
  +foo#world
  +foo.hello#world
  +foo.hello.world
  //- +foo(class="hello")
  //- +foo.hello(class="world")
  +foo