
include ../originalTests_pug/cases/auxiliary/mixins

+foo

body
  include cases/auxiliary/smile.html
  include cases/auxiliary/escapes.html
  script(type="text/javascript")
    include:verbatim cases/auxiliary/includable.js
