doctype html
html
  title this document is broken
  style.
    body {
      color: orange;
    }
  body
    h1= non.existing.query()
    ul
      li At vero eos
      li Lorem ipsum dolor
    p duo dolores et ea rebum