doctype html
html
  head
    title= pageName
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
  body
    ol#books
      each book in books
        li
          strong #{book.author}
          | 
          | #{book.title}
