

p#red(title='my special title', alt='some alt text')


  | Hello World

  | Hello Berlin
  | Hello Tokyo


div#content(title='test title', alt = 'alt text')

  p(title='test title', alt = 'alt text')
    | Hello World
    | Hello Berlin
    | Hello Tokyo


div#footer(title='test title', alt = 'alt text')


  div#left(title='test title', alt = 'alt text')
    p#red(title='test title', alt = 'alt text')
      | Hello World

    p#green(title='test title', alt = 'alt text')
      | Hello Berlin
      | Hello Tokyo
