p#red

  | Hello World
  
  | Hello Berlin

  | Hello Tokyo
div#content


  p


    | Hello World

    | Hello Berlin

    | Hello Tokyo



div#footer


  div#left
    p#red
      | Hello World
    p#green
      | Hello Berlin
      | Hello Tokyo
    