p
  | Hello World
  | Hello Berlin
  | Hello Tokyo
div
  p
    | Hello World
    | Hello Berlin
    | Hello Tokyo
div
  div
    p
      | Hello World
    p
      | Hello Berlin
      | Hello Tokyo
    