div
  if bean.level2.name=="wrong"
    div Hmm, strange, my name is
      span= bean.level2.name
  else if bean.level2.name=="beanie"
    div yes, right, my name is
      span= bean.level2.name
  else
    div aargghh, nobody nows me.
  each entry in beans
    if entry.level2.name == "x"
      p= entry.level2.name
    else
      p what