mixin article(title)
  h1= title
  if block
    block
  else
    p No content provided

mixin wrapper
  .wrapper
    block

+wrapper
  +article('Hello world')

+wrapper
  +article('Hello world')
    p This is my article
