//-
    Created with JetBrains WebStorm.
    User: linpeng
    Date: 13-8-23
    Time: 下午10:24

block content

    form
        fieldset.fieldset
            legend.legend
                |关于
                a(href='/') Makkt
            a(href='/') Makkt
            |   于2013年成立于羊城广州，是一家以开发有趣，有营养，有立场软件产品的开发公司。Makkt成立之初推出的Jago系列，受到广大网友喜爱。
            |上线一个月就突破10,000，半年就突破100,000用户。是创新工厂孵化基地精而优的软件产品代表之一。
        br
        fieldset
            legend
                |积分说明
            h5
                |对于供题人
            |   他人答对供题人的题，供题人加0分
            br
            |   他人答错供题人的题，供题人加1分

            h5
                |对于答题人
            |   答题人答对他人的题，答题人加1分
            br
            |   答题人答错他人的题，答题人加0分

        br
        fieldset
            legend
                |联络方式
            address
                strong
                    |Makkt,Inc
                br
                |工业大道棠安路12号，406室
                br
                |信息港，天河区，广州市，中国
                br
                abbr(title="Telephone")
                    |联络电话:
                |(+86) 020-8859999-100
            address
                strong
                    |电子邮箱
                br
                a(href="mailto:magixsource.cn@gmail.com")
                    |magixsource.cn#GMAIL.COM
