.myclass(title="my first div", alt="alt does not fit here")
   .c1.c2.c3(title="the second div with attribute")
   #myid
   
#myid.c1.c2.c3(title="the third div with attribute")
   div#id1
      span#id2.c1.c2.c3.c4(alt="alt")