-var isInDanger = true
-var isNotInDanger = false
.form-group.row(class={'has-danger': true})
.form-group.row(class={"has-danger": true})
.form-group.row(class={'has-danger': false})
.form-group.row(class={"has-danger": false})
.form-group.row(class={"has-danger": isInDanger})
.form-group.row(class={"has-danger": isNotInDanger})